{
    "openapi": "3.0.3",
    "info": {
        "title": "Oumla API",
        "description": "Oumla API for Cloud platform providing wallet management, tokenization, contract interactions, and blockchain services",
        "version": "1.0.0",
        "contact": {
            "name": "Oumla API Support",
            "email": "support@cloud.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://sandbox.oumla.com",
            "description": "Mainnet",
            "x-fern-server-name": "Mainnet"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        },
        {
            "apiKeyAuth": []
        }
    ],
    "tags": [
        {
            "name": "Profiles",
            "description": "User profile management"
        },
        {
            "name": "Wallets",
            "description": "Wallet creation and management"
        },
        {
            "name": "Addresses",
            "description": "Address generation and management"
        },
        {
            "name": "Transactions",
            "description": "Transaction history and tracking"
        },
        {
            "name": "Portfolio",
            "description": "Portfolio management and tracking"
        },
        {
            "name": "Withdrawals",
            "description": "Withdrawal operations"
        },
        {
            "name": "Contract Templates",
            "description": "Smart contract template management"
        },
        {
            "name": "Deployed Contracts",
            "description": "Deployed contract management"
        },
        {
            "name": "Contract Interactions",
            "description": "Smart contract interaction operations"
        },
        {
            "name": "Tokenization",
            "description": "Token creation, minting, and management"
        },
        {
            "name": "Temporal",
            "description": "Temporal workflow operations"
        }
    ],
    "paths": {
        "/api/v1/profiles": {
            "post": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Create Profile",
                "description": "Create a new user profile",
                "operationId": "createProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProfileRequest"
                            }
                        }
                    },
                    "description": "Request body for create profile"
                },
                "responses": {
                    "201": {
                        "description": "Profile created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (Possible error codes: ERR_010, ERR_302, ERR_303)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_010": {
                                        "summary": "Bad Request (ERR_010)",
                                        "value": {
                                            "message": "Bad Request",
                                            "code": "ERR_010",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/profiles",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_302": {
                                        "summary": "Required field is missing (ERR_302)",
                                        "value": {
                                            "message": "Required field is missing",
                                            "code": "ERR_302",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/profiles",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_303": {
                                        "summary": "Invalid format provided (ERR_303)",
                                        "value": {
                                            "message": "Invalid format provided",
                                            "code": "ERR_303",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/profiles",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/profiles",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "description": "Profile already exists (Possible error codes: ERR_001)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_001": {
                                        "summary": "Profile already exists (ERR_001)",
                                        "value": {
                                            "message": "Profile already exists",
                                            "code": "ERR_001",
                                            "category": "CONFLICT",
                                            "statusCode": 409,
                                            "path": "/api/v1/profiles",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Get Profiles",
                "description": "Get list of profiles with pagination",
                "operationId": "getProfiles",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profiles retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfilesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                }
            }
        },
        "/api/v1/wallets/generate": {
            "post": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Generate Wallet",
                "description": "Generate a new wallet for a profile",
                "operationId": "createWallet",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWalletRequest"
                            }
                        }
                    },
                    "description": "Request body for generate wallet"
                },
                "responses": {
                    "201": {
                        "description": "Wallet created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (Possible error codes: ERR_010, ERR_302, ERR_303)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_010": {
                                        "summary": "Bad Request (ERR_010)",
                                        "value": {
                                            "message": "Bad Request",
                                            "code": "ERR_010",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/wallets/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_302": {
                                        "summary": "Required field is missing (ERR_302)",
                                        "value": {
                                            "message": "Required field is missing",
                                            "code": "ERR_302",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/wallets/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_303": {
                                        "summary": "Invalid format provided (ERR_303)",
                                        "value": {
                                            "message": "Invalid format provided",
                                            "code": "ERR_303",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/wallets/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/wallets/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "We couldn't set up the wallet. Please try again (Possible error codes: ERR_016)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_016": {
                                        "summary": "We couldn't set up the wallet. Please try again (ERR_016)",
                                        "value": {
                                            "message": "We couldn't set up the wallet. Please try again",
                                            "code": "ERR_016",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 500,
                                            "path": "/api/v1/wallets/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Master wallet already generated (Possible error codes: ERR_014)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_014": {
                                        "summary": "Master wallet already generated (ERR_014)",
                                        "value": {
                                            "message": "Master wallet already generated",
                                            "code": "ERR_014",
                                            "category": "CONFLICT",
                                            "statusCode": 409,
                                            "path": "/api/v1/wallets/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ]
            }
        },
        "/api/v1/wallets/profile/{reference}": {
            "get": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Get Wallets by Profile",
                "description": "Get wallets for a specific profile",
                "operationId": "getWalletsByProfile",
                "parameters": [
                    {
                        "name": "reference",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Profile or organization reference identifier"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallets retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/wallets/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/wallets/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found (Possible error codes: ERR_006)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_006": {
                                        "summary": "The requested resource was not found (ERR_006)",
                                        "value": {
                                            "message": "The requested resource was not found",
                                            "code": "ERR_006",
                                            "category": "RESOURCE",
                                            "statusCode": 404,
                                            "path": "/api/v1/wallets/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/wallets/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/wallets/organization": {
            "get": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Get Wallets by Organization",
                "description": "Get all wallets for the organization",
                "operationId": "getWalletsForOrganization",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Wallets retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/wallets/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/wallets/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/wallets/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/addresses/generate": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Generate Address",
                "description": "Generate a new address for a profile",
                "operationId": "createAddress",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAddressRequest"
                            }
                        }
                    },
                    "description": "Request body for generate address"
                },
                "responses": {
                    "201": {
                        "description": "Address created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAddressResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (Possible error codes: ERR_010, ERR_302, ERR_303, ERR_176)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_010": {
                                        "summary": "Bad Request (ERR_010)",
                                        "value": {
                                            "message": "Bad Request",
                                            "code": "ERR_010",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_302": {
                                        "summary": "Required field is missing (ERR_302)",
                                        "value": {
                                            "message": "Required field is missing",
                                            "code": "ERR_302",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_303": {
                                        "summary": "Invalid format provided (ERR_303)",
                                        "value": {
                                            "message": "Invalid format provided",
                                            "code": "ERR_303",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_176": {
                                        "summary": "Invalid contract address (ERR_176)",
                                        "value": {
                                            "message": "Invalid contract address",
                                            "code": "ERR_176",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ]
            }
        },
        "/api/v2/addresses/generate": {
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Generate Address V2",
                "description": "Generate a wallet if not exists and create address",
                "operationId": "createAddressV2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAddressRequest"
                            }
                        }
                    },
                    "description": "Request body for generate address v2"
                },
                "responses": {
                    "201": {
                        "description": "Address created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAddressResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request (Possible error codes: ERR_010, ERR_302, ERR_303, ERR_176)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_010": {
                                        "summary": "Bad Request (ERR_010)",
                                        "value": {
                                            "message": "Bad Request",
                                            "code": "ERR_010",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v2/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_302": {
                                        "summary": "Required field is missing (ERR_302)",
                                        "value": {
                                            "message": "Required field is missing",
                                            "code": "ERR_302",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v2/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_303": {
                                        "summary": "Invalid format provided (ERR_303)",
                                        "value": {
                                            "message": "Invalid format provided",
                                            "code": "ERR_303",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v2/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_176": {
                                        "summary": "Invalid contract address (ERR_176)",
                                        "value": {
                                            "message": "Invalid contract address",
                                            "code": "ERR_176",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v2/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v2/addresses/generate",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ]
            }
        },
        "/api/v1/addresses/organization": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get Addresses by Organization",
                "description": "Get all addresses for the organization",
                "operationId": "getAddressForOrganization",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Addresses retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/addresses/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/addresses/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/addresses/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/addresses/{reference}": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get Addresses by Profile",
                "description": "Get addresses for a specific profile",
                "operationId": "getAddressForProfile",
                "parameters": [
                    {
                        "name": "reference",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Profile or organization reference identifier"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Addresses retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddressesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/addresses/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/addresses/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource was not found (Possible error codes: ERR_006, ERR_096)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_006": {
                                        "summary": "The requested resource was not found (ERR_006)",
                                        "value": {
                                            "message": "The requested resource was not found",
                                            "code": "ERR_006",
                                            "category": "RESOURCE",
                                            "statusCode": 404,
                                            "path": "/api/v1/addresses/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_096": {
                                        "summary": "Address not found (ERR_096)",
                                        "value": {
                                            "message": "Address not found",
                                            "code": "ERR_096",
                                            "category": "RESOURCE",
                                            "statusCode": 404,
                                            "path": "/api/v1/addresses/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/addresses/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/transactions/address/{address}": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "summary": "Get Transactions by Address",
                "description": "Get transactions for a specific address",
                "operationId": "getTransactionsByAddress",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Blockchain address"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022, ERR_176)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/transactions/address/{address}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_176": {
                                        "summary": "Invalid contract address (ERR_176)",
                                        "value": {
                                            "message": "Invalid contract address",
                                            "code": "ERR_176",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/transactions/address/{address}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/transactions/address/{address}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "404": {
                        "description": "The requested resource was not found (Possible error codes: ERR_006)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_006": {
                                        "summary": "The requested resource was not found (ERR_006)",
                                        "value": {
                                            "message": "The requested resource was not found",
                                            "code": "ERR_006",
                                            "category": "RESOURCE",
                                            "statusCode": 404,
                                            "path": "/api/v1/transactions/address/{address}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/transactions/address/{address}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/transactions/wallet/{miniWalletId}": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "summary": "Get Transactions by Wallet",
                "description": "Get transactions for a specific wallet",
                "operationId": "getTransactionsByMiniWallet",
                "parameters": [
                    {
                        "name": "miniWalletId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Mini wallet identifier"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/transactions/wallet/{miniWalletId}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/transactions/wallet/{miniWalletId}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "404": {
                        "description": "The requested resource was not found (Possible error codes: ERR_006)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_006": {
                                        "summary": "The requested resource was not found (ERR_006)",
                                        "value": {
                                            "message": "The requested resource was not found",
                                            "code": "ERR_006",
                                            "category": "RESOURCE",
                                            "statusCode": 404,
                                            "path": "/api/v1/transactions/wallet/{miniWalletId}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/transactions/wallet/{miniWalletId}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/transactions/organization": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "summary": "Get Transactions by Organization",
                "description": "Get all transactions for the organization",
                "operationId": "getTransactionsByOrganization",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/transactions/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/transactions/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/transactions/organization",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/transactions/profile/{reference}": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "summary": "Get Transactions by Profile",
                "description": "Get transactions for a specific profile",
                "operationId": "getTransactionsByProfile",
                "parameters": [
                    {
                        "name": "reference",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Profile or organization reference identifier"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TransactionsByProfileResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/transactions/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/transactions/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "404": {
                        "description": "The requested resource was not found (Possible error codes: ERR_006)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_006": {
                                        "summary": "The requested resource was not found (ERR_006)",
                                        "value": {
                                            "message": "The requested resource was not found",
                                            "code": "ERR_006",
                                            "category": "RESOURCE",
                                            "statusCode": 404,
                                            "path": "/api/v1/transactions/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/transactions/profile/{reference}",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/portfolio": {
            "get": {
                "tags": [
                    "Portfolio"
                ],
                "summary": "Get Assets",
                "description": "Get assets for address, wallet, or contract",
                "operationId": "getAssets",
                "parameters": [
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Blockchain address"
                    },
                    {
                        "name": "walletId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Wallet identifier"
                    },
                    {
                        "name": "contractAddress",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Smart contract address"
                    },
                    {
                        "name": "tokenizationId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Tokenization identifier"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assets retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AssetsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022, ERR_176, ERR_301)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/portfolio",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_176": {
                                        "summary": "Invalid contract address (ERR_176)",
                                        "value": {
                                            "message": "Invalid contract address",
                                            "code": "ERR_176",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/portfolio",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_301": {
                                        "summary": "Invalid input provided (ERR_301)",
                                        "value": {
                                            "message": "Invalid input provided",
                                            "code": "ERR_301",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/portfolio",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_008": {
                                        "summary": "You need to sign in to continue (ERR_008)",
                                        "value": {
                                            "message": "You need to sign in to continue",
                                            "code": "ERR_008",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 401,
                                            "path": "/api/v1/portfolio",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "403": {
                        "description": "You don't have permission to do that (Possible error codes: ERR_009)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_009": {
                                        "summary": "You don't have permission to do that (ERR_009)",
                                        "value": {
                                            "message": "You don't have permission to do that",
                                            "code": "ERR_009",
                                            "category": "UNKNOWN_ERROR",
                                            "statusCode": 403,
                                            "path": "/api/v1/portfolio",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/portfolio/native-balance": {
            "get": {
                "tags": [
                    "Portfolio"
                ],
                "summary": "Get Native Balance",
                "description": "Get native balance for network, address, or wallet",
                "operationId": "getNativeBalance",
                "parameters": [
                    {
                        "name": "network",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "tBTC",
                                "tETH",
                                "AVAX",
                                "FUJI",
                                "SANDBOX"
                            ]
                        },
                        "description": "Blockchain network"
                    },
                    {
                        "name": "address",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Blockchain address"
                    },
                    {
                        "name": "walletId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Wallet identifier"
                    },
                    {
                        "$ref": "#/components/parameters/SkipParam"
                    },
                    {
                        "$ref": "#/components/parameters/TakeParam"
                    },
                    {
                        "$ref": "#/components/parameters/SdkVersionHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Native balance retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NativeBalanceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid pagination parameters (Possible error codes: ERR_022, ERR_176, ERR_301)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                },
                                "examples": {
                                    "ERR_022": {
                                        "summary": "Invalid pagination parameters (ERR_022)",
                                        "value": {
                                            "message": "Invalid pagination parameters",
                                            "code": "ERR_022",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/portfolio/native-balance",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_176": {
                                        "summary": "Invalid contract address (ERR_176)",
                                        "value": {
                                            "message": "Invalid contract address",
                                            "code": "ERR_176",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/portfolio/native-balance",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    },
                                    "ERR_301": {
                                        "summary": "Invalid input provided (ERR_301)",
                                        "value": {
                                            "message": "Invalid input provided",
                                            "code": "ERR_301",
                                            "category": "VALIDATION",
                                            "statusCode": 400,
                                            "path": "/api/v1/portfolio/native-balance",
                                            "timestamp": "2024-01-01T00:00:00.000Z",
                                            "requestId": "req_123456789"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "You need to sign in to continue (Possible error codes: ERR_008)",
[...]
